<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AU-Course Directory</title>
    <link rel="stylesheet" href="Student_css/student_dashboard.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

</head>
<body>

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" id="logo" href="https://ahduni.edu.in/" target="_blank"><img src="image/au_logo.png" alt="University Logo"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="Admin_dashboard">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="Uni_Resources" target="_blank">University Resources</a>
                    </li>

                    <li class="nav-item">
                        <button type="button" class="btn btn-light">Sign Out</button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
		<!-- Title -->
		<div class="row mb-3 mb-sm-4">
			<div class="col-12 text-center mt-3">
				<h2 style="font-family: 'Ubuntu', sans-serif;">Course Directory</h2>
			</div>
		</div>

		<div class="row g-4">
			<% cou.forEach((c)=>{ %>
			<!-- Category item -->
			<div class="col-sm-6 col-lg-4">
				<!-- Card START -->
				
				<div class="card card-body shadow p-4 h-100">
					<div class="icon-lg bg-primary bg-opacity-10 text-primary rounded-circle mb-4"><i class="bi bi-lightning-fill fs-5"></i></div>
					
						<h5><%= c.course_name %></h5>
						<h6>Credit: <%= c.credit %> </h6>
						<h6>Faculty: <%= c.faculty %></h6>
						<p>Description: <%= c.description %></p>
				</div>
						
				<!-- Card END -->
			</div>
			<% }) %>
		</div> 

        <div class="bd-example mt-3 border-0">
            <button type="button" class="btn btn-primary" id="new_course"> 
                <a href="add_new_course" class="nav-link px-2">Add New Course</a>
            </button>
        </div>
	</div>



    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <p class="col-md-4 mb-0 text-body-secondary">© 2023 Company: Ahmedabad University, Inc</p>

        <a href="/"
            class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        </a>

        <ul class="nav col-md-4 justify-content-end">
            <li class="nav-item"><a href="" class="nav-link px-2 text-body-secondary">Home</a></li>
            <li class="nav-item"><a href="https://ahduni.edu.in/about-ahmedabad/" class="nav-link px-2 text-body-secondary">About</a></li>
        </ul>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>

</body>
</html>