<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AURIS-Admin</title>
    <link rel="stylesheet" href="Student_css/student_dashboard.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

</head>

<body>
    <!-- Admin Navigation Bar -->
    <nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" id="logo" href="https://ahduni.edu.in/" target="_blank"><img src="image/au_logo.png" alt="University Logo"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#" target="_blank">Events</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/Uni_Resources" target="_blank">University Resources</a>
                    </li>

                    <li class="nav-item">
                        <button type="button" class="btn btn-light">Sign Out</button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Backgroud Video of AU -->
    <video src="/image/Campus_video.mkv" autoplay loop muted>Campus Tour</video>


    <!-- Quick Links -->
    <div class="container px-4 py-5" id="featured-3">
        <h2 class="pb-2 border-bottom">Quick Links</h2>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
    
          <!-- Course Directory -->
          <div class="feature col">
            <div
              class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
              <img class="feature_au" src="image/course_directry.png" alt="Course Directry">
            </div>
            <h3 class="fs-2 text-body-emphasis">Course Directory</h3>
            <p>Details about all of the course which are running in Ahmedabad University and also add to new courses.</p>
            <a href="/course_directory" class="icon-link">More Details</a>
          </div>
    
          <!-- Course Registration -->
          <div class="feature col">
            <div
              class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
              <img src="image/course_registration.png" alt="Course Registration" class="feature_au">
            </div>
            <h3 class="fs-2 text-body-emphasis">Course Registration</h3>
            <p>Course registration related all details are here. </p>
            <a href="#" class="icon-link" target="_blank"> More Details</a>
          </div>
    
          <!-- Events -->
          <div class="feature col">
            <div
              class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
              <img src="image/events.png" alt="Events" class="feature_au">
            </div>
            <h3 class="fs-2 text-body-emphasis">Events</h3>
            <p>Details about other programme which are running in the Ahmedabad University.</p>
            <a href="#" class="icon-link" target="_blank"> More Details</a>
          </div>
    
          <!-- Reset Password -->
          <div class="feature col">
            <div
              class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
              <img src="image/reset_password.png" alt="Reset Password" class="feature_au">
            </div>
            <h3 class="fs-2 text-body-emphasis">Reset Password</h3>
            <p>If you have to change your AURIS Password, then go ahed.</p>
            <a href="#" class="icon-link" target="_blank"> More Details</a>
          </div>
    
    
          <!-- Add  -->
          <div class="feature col">
            <div
              class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
              <img src="image/schedule.png" alt="Schedule" class="feature_au">
            </div>
            <h3 class="fs-2 text-body-emphasis">Add new register</h3>
            <p>Add new register students and professor in AURIS.</p>
            <a href="/Admin_register" class="icon-link" target="_blank"> More Details</a>
          </div>

          <!-- all writes of student and professor to change any thing-->
          <div class="feature col">
            <div
              class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
              <img src="image/allRights.png" alt="All writes" class="feature_au">
            </div>
            <h3 class="fs-2 text-body-emphasis">All writes </h3>
            <p>all writes of student and professor to change any thing</p>
            <a href="#" class="icon-link"> More Details</a>
          </div>
        </div>
      </div>


    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <p class="col-md-4 mb-0 text-body-secondary">© 2023 Company: Ahmedabad University, Inc</p>

        <a href="/"
            class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        </a>

        <ul class="nav col-md-4 justify-content-end">
            <li class="nav-item"><a href="Admin_dashboard" class="nav-link px-2 text-body-secondary">Home</a></li>
            <li class="nav-item"><a href="https://ahduni.edu.in/about-ahmedabad/" class="nav-link px-2 text-body-secondary">About</a></li>
        </ul>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>

</body>

</html>